.banner {
  position: relative;
  color: $banner-color;
  background-color: $banner-bg;

  &.negative {
    color: $banner-color-negative;
    background-color: $banner-bg-negative;

    .banner-subhead {
      color: $banner-subhead-color-negative;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row-reverse;
    max-width: $banner-max-width;
    margin: 0 auto;
    overflow: hidden;

    &.inverted {
      flex-direction: row;

      .banner-image {
        clip-path: $banner-clip-path-inverted;
      }

      .banner-content-container {
        padding-left: (100% * $banner-content-col-1);
      }

      .banner-title,
      .banner-button,
      .banner-subhead {
        padding: $banner-content-padding-inverted-md;
      }
    }
  }

  // stylelint-disable selector-max-class
  @include media-breakpoint-up(lg) {
    &.inverted {
      .banner-content {
        align-items: flex-end;
      }

      .banner-title,
      .banner-button,
      .banner-subhead {
        width: 100%;
        padding: $banner-content-padding-inverted-lg;
      }

      .banner-content-container {
        .banner-title,
        .banner-button,
        .banner-subhead {
          max-width: (100% * $banner-content-col-5);
        }

        &.col-md-3,
        &.col-lg-3 {
          .banner-title,
          .banner-button,
          .banner-subhead {
            max-width: (100% * $banner-content-col-2);
          }
        }
        &.col-md-4,
        &.col-lg-4 {
          .banner-title,
          .banner-button,
          .banner-subhead {
            max-width: (100% * $banner-content-col-3);
          }
        }
        &.col-md-5,
        &.col-lg-5 {
          .banner-title,
          .banner-button,
          .banner-subhead {
            max-width: (100% * $banner-content-col-4);
          }
        }
        &.col-lg-6 {
          .banner-title,
          .banner-button,
          .banner-subhead {
            max-width: (100% * $banner-content-col-5);
          }
        }
      }
    }
  }
  // stylelint-enable
}

.banner-image-container {
  position: relative;

  &::after {
    display: block;
    padding-bottom: $banner-image-ratio;
    content: "";
  }

  @include media-breakpoint-up(md) {
    flex: 1 1 auto;
    align-self: auto;
  }
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    clip-path: $banner-clip-path;
  }
}

.banner-title {
  padding: $banner-content-padding;
  margin-bottom: 0;
  line-height: $banner-title-line-height;

  @include media-breakpoint-up(md) {
    padding: $banner-content-padding-md;
    padding-bottom: 0;
    margin-bottom: calculateRem(8px);
  }

  @include media-breakpoint-up(lg) {
    max-width: 50%;
    padding: $banner-content-padding-lg;
    padding-bottom: 0;
  }
}

.banner-subhead {
  @include cake-font-size($banner-subhead-font-size);
  padding: $banner-content-padding-md;
  padding-top: 0;
  margin-bottom: 0;
  font-weight: $banner-subhead-font-weight;

  @include media-breakpoint-down(sm) {
    // display: none;
  }

  @include media-breakpoint-up(lg) {
    max-width: 50%;
    padding: $banner-content-padding-lg;
    padding-top: 0;
  }
}

.banner-button {
  padding: $banner-content-padding-md;
  padding-top: 0.25rem;

  @include media-breakpoint-up(lg) {
    max-width: 50%;
    padding: $banner-content-padding-lg;
    padding-top: 0.5rem;
  }
}

.banner-content-container {
  @include media-breakpoint-up(md) {
    flex: 0 0 50%;
    align-self: auto;
  }

  @include media-breakpoint-up(lg) {
    position: static;
    &.col-md-3,
    &.col-lg-3 {
      flex: 0 0 $banner-content-width-col-3;
      max-width: $banner-content-width-col-3;

      .banner-title,
      .banner-button,
      .banner-subhead {
        max-width: (100% * $banner-content-col-3);
      }
    }
    &.col-md-4,
    &.col-lg-4 {
      flex: 0 0 $banner-content-width-col-4;
      max-width: $banner-content-width-col-4;

      .banner-title,
      .banner-button,
      .banner-subhead {
        max-width: (100% * $banner-content-col-4);
      }
    }
    &.col-md-5,
    &.col-lg-5 {
      flex: 0 0 $banner-content-width-col-5;
      max-width: $banner-content-width-col-5;

      .banner-title,
      .banner-button,
      .banner-subhead {
        max-width: (100% * $banner-content-col-5);
      }
    }
    &.col-lg-6 {
      flex: 0 0 (100% * $banner-content-col-6);
      max-width: (100% * $banner-content-col-6);

      .banner-title,
      .banner-button,
      .banner-subhead {
        max-width: (100% * $banner-content-col-6);
      }
    }
    &.col-md-3,
    &.col-lg-3,
    &.col-md-4,
    &.col-lg-4,
    &.col-md-5,
    &.col-lg-5,
    &.col-md-6,
    &.col-lg-6 {
      padding: 0;
    }
  }
}

.banner-content-wrapper {
  @include media-breakpoint-up(md) {
    height: 100%;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.banner-content {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1280px;
    margin: 0 auto;
  }
}
