/**
 * Navbar
 */

 $navbar-height-desktop: 80px;
 $navbar-height-mobile: 50px;
 $navbar-bg: #ffffff;
 $navbar-link-color: #000;
 $navbar-hover-link-color: darken(#000, 10%);

.navbar {
  padding: 0;
  background-color: $navbar-bg;
  z-index: 1;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.15);

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__brand {
    z-index: 19;
    margin-top: $spacer;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.5);
    @include media-breakpoint-up(md) {
      margin-top: -10px;
    }
    img {
      max-height: $navbar-height-mobile + 20;
      padding: 5px;

      @include media-breakpoint-up(md) {
        max-height: 140px;
        padding: 10px;
        //
      }
    }

  }
  &__toggler {
    display: none;
    background: none;
    border: none;
    border-radius: 0;
  }
  &__toggler-line {}
  &__collapse {}
  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {

  }
  &__link {
    color: $navbar-link-color;
    text-decoration: none;
    &--selected {
      color: $navbar-hover-link-color;
    }
    &--selected,
    &:hover {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-down(sm) {
    &__wrapper {
      height: $navbar-height-mobile;
    }
    &__collapse {
      transition: $transition-base;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      pointer-events: auto;
    }
    &__toggler {
      display: inline-block;
      position: relative;
      margin-left: auto;
      width: 40px;
      height: 32px;
      cursor: pointer;
      z-index: 2;
    }
    &__toggler-line {
      transition: $transition-base;
      display: block;
      position: absolute;
      top: 8px;
      left: 8px;
      background-color: black;
      height: 1px;
      width: 24px;
      &:nth-child(1) {}
      &:nth-child(2) {
        top: 16px;
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
    &__menu {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      background-color:  $navbar-bg;
      padding: 2rem 0; // add some top / bottom padding in case there is more items that doesn't fit in the viewport
    }
    &__item {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    body.navbar--opened & {
      &__collapse {
        visibility: visible;
        opacity: 1;
      }
      &__toggler-line {
        &:nth-child(1) {
          top: 15px;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          top: 15px;
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__wrapper {
      flex-direction: row;
      height: $navbar-height-desktop;
    }
    &__brand {
      text-align: center;
    }
    &__menu {
      flex-direction: row;
    }
    &__item {
      margin-right: 2rem;
      &--last,
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Prevent vertical scrollbar when navbar is opened on smaller devices

body.navbar--opened {
  overflow: hidden;
}

/**
 * Navbar Fixed
 */

.navbar.navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

// Make navbar transparent when scrolling more than 100px down

.navbar.navbar--scrolled {
  transition: $transition-base;
}

// When the navbar is fixed you should also add some padding to body tag as well - most likely that should be height of the navbar

body {
  @include media-breakpoint-down(sm) {
    padding-top: $navbar-height-mobile;
  }
  @include media-breakpoint-up(md) {
    padding-top: $navbar-height-desktop;
  }
}
