// Section-Head

$section-head-font-size:                    calculateRem(20px);
$section-head-line-height:                  $headings-line-height;
$section-head-font-weight:                  $font-weight-bold;
$section-head-padding:                      $spacer * 2;
$section-head-max-width:                    60%;
$section-head-border-width:                 2px;
$section-head-border-color:                 cake-color("gray", "lighter");
$section-head-horizontal-rule-bottom-space: calculateRem(5px);
$section-head-min-height:                   calculateRem(24px);
$section-head-min-height-lg:                calculateRem(32px);

.section-head {
  display: block;
  min-height: $section-head-min-height;
  overflow: hidden;
  line-height: normal;
  text-align: center;
  @include media-breakpoint-up(lg) {
    min-height: $section-head-min-height-lg;
  }
}

.section-head-title {
  @include cake-font-size($section-head-font-size);
  position: relative;
  display: inline-block;
  max-width: $section-head-max-width;
  padding: 0 $section-head-padding;
  margin: 0;
  font-weight: $section-head-font-weight;
  line-height: $section-head-line-height;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    position: absolute;
    bottom: $section-head-horizontal-rule-bottom-space; //is the base-line of the text!
    width: 100vw;
    content: "";
    border-top: $section-head-border-width solid $section-head-border-color;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}
