{% extends 'layouts/default.twig' %}
{% set head_title = 'Chronologie' %}
{% set head_canonical = 'chronologie.html' %}

{% block page %}
    {% include 'components/banner.twig' with { src: '/img/Bild_01.jpg', title: 'Schuhmanufaktur Formschön', subtitle: '20 Jahre' } %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-head my-4 my-md-8">
                    <h1 class="section-head-title">Meilensteine</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_06.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>September 2001</h3>
                    <p class="mb-0">Gemeinsam eröffnen wir Geschwister, Maria Gracia und Paolo Zuretti, in Bad Godesberg unsere Schuhmanufaktur. Wir haben beide den Meisterbrief erworben und bereits mehrere Jahre Berufserfahrung in verschiedenen Werkstätten gesammelt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 offset-md-1 col-sm-6 col-md-6 order-sm-1 pl-sm-0">
                <img src="/img/Bild_03.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>September 2004</h3>
                    <p class="mb-0">Lukas Bischoff beginnt seine Ausbildung bei uns. Heute ist er im Team der Spezialist für die Schäfte-Herstellung.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_04.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>August 2007</h3>
                    <p class="mb-0">Das WDR-Regionalfernsehen besucht die Manufaktur und porträtiert unsere Arbeit. Das ist der Durchbruch: Viele potenzielle Kunden und Kundinnen werden auf uns aufmerksam – nicht nur im Rheinland.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_29.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Mai 2010</h3>
                    <p class="mb-0">Neben Werkstatt und Laden eröffnen wir einen kleinen Showroom. Hier ist eine individuelle Atmosphäre beim Maßnehmen und bei der Anprobe gewährleistet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_26.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Oktober 2014</h3>
                    <p class="mb-0">Die Schuhmanufaktur Formschön präsentiert ihre Modelle auf der Leistungsschau des rheinischen Handwerks in Düsseldorf.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_33.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Dezember 2015</h3>
                    <p class="mb-0">Wir beteiligen uns an der Neuordnung des Berufs „Maßschuhmacher/-in“, damit unser beruflicher Nachwuchs auf der Höhe der Zeit ist.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_32.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>März 2016</h3>
                    <p class="mb-0">Wir sind Gast auf der europäischen Leder- und Mode-Messe in Brüssel.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_35.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Januar 2017</h3>
                    <p class="mb-0">Das alljährliche Treffen der Maßschuhmacher aus dem deutschsprachigen Raum findet diesmal bei uns, in der Schuhmanufaktur Formschön, statt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_16.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Dezember 2017</h3>
                    <p class="mb-0">Wir zeigen bei den „Tagen der Manufakturen“ in Berlin die Fertigung von Maßschuhen.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_35.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>September 2019</h3>
                    <p class="mb-0">Leonie Meißner beginnt bei uns die neue Ausbildung zur Maßschuhmacherin. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_35.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>September 2021</h3>
                    <p class="mb-0">Wir feiern unser 20-jähriges Bestehen.</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
