{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}
{% set head_canonical = 'index.html' %}

{% block page %}



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Impressum</h1>
                <p>
                    <b>Schuhmanufaktur Formschön GmbH</b><br />
                    Geschäftsführung: Maria Gracia und Paolo Zuretti<br />
                    Alte Bahnhofstraße 5a<br />
                    53173 Bonn-Bad Godesberg<br />
                    Tel: 0228-123450, Fax: 0228-123459<br />
                    info@schuhmanufaktur-formschön.de<br />
                    www.schuhmanufaktur-formschön.de<br />
                    Amtsgericht Bonn, Handelsregister Nr. XXX000XXX<br />
                    Finanzamt Bonn-Außenstadt, USt.ID: DE10111011<br />

                </p>
            </div>

        </div>

    </div>


{% endblock %}
