{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}
{% set head_canonical = 'index.html' %}

{% block page %}
<div class="container-fluid px-lg-0">
    <div class="row">
        <div class="col-12">
            <div id="carouselIndex" class="carousel slide mx-auto" data-ride="carousel" style="max-width: 1920px">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndex" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndex" data-slide-to="1"></li>
                    <li data-target="#carouselIndex" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <article class="banner">
                            <div class="banner-image-container">
                                <img src="/img/Bild_35.jpg" alt="Feiern Sie mit uns" class="banner-image" />
                            </div>
                            <header class="banner-content-container col-md-3 col-lg-4">
                                <div class="banner-content-wrapper">
                                    <div class="banner-content">
                                        <h2 class="banner-title">Feiern Sie mit uns</h2>
                                        <h3 class="banner-subhead">20 Jahre Schuhmanufaktur Formschön</h3>

                                        <div class="banner-button">
                                            <a class="btn btn-primary-negative" href="jubilaeum.html">Mehr erfahren</a>
                                        </div>

                                    </div>
                                </div>
                            </header>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="banner">
                            <div class="banner-image-container">
                                <img src="/img/Bild_26.jpg" alt="Wir lieben Leder" class="banner-image" />
                            </div>
                            <header class="banner-content-container col-md-3 col-lg-4">
                                <div class="banner-content-wrapper">
                                    <div class="banner-content">
                                        <h2 class="banner-title">Wir lieben Leder</h2>
                                        <h3 class="banner-subhead">Schuhmanufaktur Formschön</h3>

                                        <div class="banner-button">
                                            <a class="btn btn-primary-negative" href="leistungen.html">Mehr erfahren</a>
                                        </div>

                                    </div>
                                </div>
                            </header>
                        </article>
                    </div>
                    <div class="carousel-item">
                        <article class="banner">
                            <div class="banner-image-container">
                                <img src="/img/Bild_26.jpg" alt="Wir lieben Leder" class="banner-image" />
                            </div>
                            <header class="banner-content-container col-md-3 col-lg-4">
                                <div class="banner-content-wrapper">
                                    <div class="banner-content">
                                        <h2 class="banner-title">Wir lieben Leder</h2>
                                        <h3 class="banner-subhead">Schuhmanufaktur Formschön</h3>

                                        <div class="banner-button">
                                            <a class="btn btn-primary-negative" href="leistungen.html">Mehr erfahren</a>
                                        </div>

                                    </div>
                                </div>
                            </header>
                        </article>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndex" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndex" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mt-lg-8">

    <div class="row">
        <div class="col-12 pb-4 pt-4 pt-lg-8">
            <header class="section-head "><h2 class="section-head-title">DAS LEISTEN WIR FÜR SIE</h2></header>
        </div>
    </div>
    <div class="row mb-4 mb-lg-8">
        <div class="col-6 col-md-4 mb-2 mb-md-0">
            <div class="card">
                <div class="card-image-ratio ratio-4-3">
                    <img class="card-img-top" src="/img/Bild_17.jpg" alt="Reparieren">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        Reparieren
                    </h3>
                    <p class="card-text">
                        Kommen Sie mit hochwertigen Lederwaren zu uns, wenn etwas kaputt ist.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2 mb-md-0">
            <div class="card">
                <div class="card-image-ratio ratio-4-3">
                    <img class="card-img-top" src="/img/Bild_18.jpg" alt="Verbessern">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        Verbessern
                    </h3>
                    <p class="card-text">
                        Scheuen Sie sich nicht, auch mit guten, industriell gefertigten Qualitätsschuhen zu uns zu kommen, wenn Sie spezielle Anpassungswünsche haben.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2 mb-md-0">
            <div class="card">
                <div class="card-image-ratio ratio-4-3">
                    <img class="card-img-top" src="/img/Bild_02.jpg" alt="Kreieren">
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        Kreieren
                    </h3>
                    <p class="card-text">
                        Sprechen Sie uns an, wenn Sie exklusive Schuhe tragen wollen.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <article class="banner mb-4 mb-lg-8 negative">
        <div class="banner-image-container">
            <img src="/img/Bild_35.jpg" alt="Feiern Sie mit uns" class="banner-image" />
        </div>
        <header class="banner-content-container col-md-3 col-lg-4">
            <div class="banner-content-wrapper">
                <div class="banner-content">
                    <h2 class="banner-title">Feiern Sie mit uns</h2>
                    <h3 class="banner-subhead">20 Jahre Schuhmanufaktur Formschön</h3>

                    <div class="banner-button">
                        <a class="btn btn-primary" href="jubilaeum.html">Mehr erfahren</a>
                    </div>

                </div>
            </div>
        </header>
    </article>

    <article class="banner inverted negative">
        <div class="banner-image-container">
            <img src="/img/Bild_35.jpg" alt="Feiern Sie mit uns" class="banner-image" />
        </div>
        <header class="banner-content-container col-md-3 col-lg-4">
            <div class="banner-content-wrapper">
                <div class="banner-content">
                    <h2 class="banner-title">Feiern Sie mit uns</h2>
                    <h3 class="banner-subhead">20 Jahre Schuhmanufaktur Formschön</h3>

                    <div class="banner-button">
                        <a class="btn btn-primary" href="jubilaeum.html">Mehr erfahren</a>
                    </div>

                </div>
            </div>
        </header>
    </article>

    {% endblock %}
