{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}
{% set head_canonical = 'index.html' %}

{% block page %}
    {% include 'components/banner.twig' with { src: '/img/Bild_35.jpg', title: 'Schuhmanufaktur Formschön', subtitle: '20 Jahre' } %}
    <div class="container mt-8 mt-lg-16">
        <div class="row">
            <div class="col-12">
                <h1>20 Jahre Schuhmanufaktur Formschön</h1>
                <h2>Immer einen Schritt voraus</h2>
                <p>Feiern Sie mit uns!<br />
                    Im September 2001 eröffneten wir Geschwister, Maria Gracia und Paolo Zuretti, in Bad Godesberg unsere Schuhmanufaktur. Zuvor hatten wir beide den Meisterbrief erworben und mehrere Jahre in verschiedenen Werkstätten Berufserfahrung gesammelt.</p>

                <p>Im September 2021 feiern wir also das 20-jährige Bestehen unserer Manufaktur.</p>
                <p>Wir freuen uns auf Ihren Besuch – ob online oder direkt in der Alten Bahnhofstraße 5a in Bonn-Bad Godesberg.</p>
            </div>

        </div>

    </div>


{% endblock %}
