{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}
{% set head_canonical = 'index.html' %}

{% block page %}



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>20 Jahre Schuhmanufaktur Formschön</h1>
                <h2>Immer einen Schritt voraus</h2>
                <p>Feiern Sie mit uns!<br />
                    Im September 2001 eröffneten wir Geschwister, Maria Gracia und Paolo Zuretti, in Bad Godesberg unsere Schuhmanufaktur. Zuvor hatten wir beide den Meisterbrief erworben und mehrere Jahre in verschiedenen Werkstätten Berufserfahrung gesammelt. Im September 2021 feiern wir also das 20-jährige Bestehen unserer Manufaktur. Wir freuen uns auf Ihren Besuch – ob online oder direkt in der Alten Bahnhofstraße 5a in Bonn-Bad Godesberg.</p>
            </div>

        </div>

    </div>


{% endblock %}
