{% extends 'layouts/default.twig' %}
{% set head_title = 'Leistungen' %}
{% set head_canonical = 'leistungen.html' %}

{% block page %}

    {% include 'components/banner.twig' with { src: '/img/Bild_26.jpg', title: 'Schuhmanufaktur Formschön', subtitle: 'Wir lieben Leder' } %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-head my-4 my-md-8">
                    <h1 class="section-head-title">Das leisten wir für Sie</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_17.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Reparieren:</h3>
                    <p class="mb-0">Kommen Sie mit hochwertigen Lederwaren zu uns, wenn etwas kaputt ist. Wie zum Beispiel: ein eingerissener Riemen am Rucksack, ein Reißverschluss an der Tasche, der sich verhakt hat, schief getretene Stiefelsohlen, ein locker gewordener Schuhabsatz. Der Erhalt von schönen, Ihnen lieb gewordenen Qualitätswaren ist uns ein Anliegen. Wegwerfen war gestern! </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 offset-md-1 col-sm-6 col-md-6 order-sm-1 pl-sm-0">
                <img src="/img/Bild_18.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Verbessern:</h3>
                    <p class="mb-0">Scheuen Sie sich nicht, auch mit guten, industriell gefertigten Qualitätsschuhen zu uns zu kommen, wenn Sie spezielle Anpassungswünsche haben. Wie zum Beispiel: Schuhe weiten, Stiefelschäfte kürzen, Spezialsohlen anbringen, Beinlängen-Differenz ausgleichen, Absätze erhöhen. Es ist uns wichtig, dass Ihre Füße eine passgenaue Bekleidung haben. Schmerzen sind vermeidbar.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_02.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>Kreieren:</h3>
                    <p class="mb-0">Sprechen Sie uns an, wenn Sie exklusive Schuhe tragen wollen, Modelle nach Ihren modischen Vorstellungen und der Eigenart Ihrer Füße. Neben der Fertigung individueller Maßschuhe gibt es auch kostengünstigere Varianten, wie etwa die Maßkonfektion mit vielfältigen Wahlmöglichkeiten. Zögern Sie nicht!</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
