{% extends 'layouts/default.twig' %}
{% set head_title = 'Maßschuhe' %}
{% set head_canonical = 'massschuhe.html' %}

{% block page %}

    {% include 'components/banner.twig' with { src: '/img/Bild_01.jpg', title: 'Schuhmanufaktur Formschön', subtitle: 'Immer einen Schritt voraus' } %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-head my-4 my-md-8">
                    <h1 class="section-head-title">Der Weg zu Ihrem Maßschuh</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_06.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>1 Die Fußvermessung</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 offset-md-1 col-sm-6 col-md-6 order-sm-1 pl-sm-0">
                <img src="/img/Bild_03.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>2 Die Auswahl von Farbe und Form</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_04.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>3 Die Entscheidung fürs Leder</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_29.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>4 Die Herstellung des Leistens</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_26.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>5 Die Fertigung des Schuhs – Teil I</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_33.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>6 Die Anprobe</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 pr-sm-0">
                <img src="/img/Bild_32.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>7 Die Fertigung des Schuhs – Teil II</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-md">
        <div class="row">
            <div class="col-12 col-sm-6 offset-md-1 order-sm-1 pl-sm-0">
                <img src="/img/Bild_35.jpg" class="img-fluid"/>
            </div>
            <div class="col-12 col-sm-6 col-md-4 offset-md-1 order-sm-0">
                <div class="d-flex h-100 justify-content-center flex-column py-4">
                    <h3>8 Letzte Anpassungen und Feinarbeiten</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-8">
        <div class="row">
            <div class="col-12">
                <p>Der zeitliche Aufwand bei der Herstellung Ihrer individuellen Maßschuhe kann beträchtlich variieren, je nach Modell, Machart und Sonderwünschen. Wir rechnen mit mindestens 30 Arbeitsstunden. Der gesamte Arbeitsprozess zieht sich in der Regel über acht Wochen hin. Dreimal sind Sie in dieser Zeit gefragt: Beim Vermessen und Wählen des Modells, bei einer ersten Anprobe und schließlich am Tag der Fertigstellung. Rechnen Sie pro Paar mit einem Preis zwischen 2000,– und 3000,– Euro. Sobald wir einen fußgerechten Leisten für Sie gefertigt haben, können wir ihn für alle Nachfolgemodelle nutzen – und Sie sparen bares Geld. Damenschuhe sind in der Regel aufwendiger und daher etwas teurer als Modelle für den Herrn.</p>
            </div>
        </div>
    </div>


{% endblock %}
