<div class="container-responsive">
    <ul class="footer-list row justify-content-center text-md-left mb-4">
        <li class="col-md-4 mb-2 mb-md-0">
            <strong class="footer-headline ml-md-1">Öffnungszeiten</strong>
            <p class="ml-md-1">
                Montag–Freitag: 9–17 Uhr<br/>
                Samstag 10–15 Uhr<br/>
                und nach Vereinbarung
            </p>
        </li>
        <li class="col-md-4 mb-2 mb-md-0">
            <strong class="footer-headline ml-md-1">Kontakt</strong>
            <p class="ml-md-1">
                <b>Schuhmanufaktur Formschön GmbH</b><br/>
                Alte Bahnhofstraße 5a<br/>
                53173 Bonn-Bad Godesberg<br/>
                Tel: 0228-123450<br/>
                Fax: 0228-123459<br/>
                info@schuhmanufaktur-formschön.de<br/>
                www.schuhmanufaktur-formschön.de

            </p>
        </li>
        <li class="col-md-4 mb-2 mb-md-0">
            <strong class="footer-headline ml-md-1">Service</strong>
            <ul class="footer-list ">
                <li class="footer-list-item"><a class="footer-list-item-link" href="impressum.html">Impressum</a></li>
                <li class="footer-list-item"><a class="footer-list-item-link" href="kontakt.html">Kontakt</a></li>
                <li class="footer-list-item"><a class="footer-list-item-link" href="leistungen.html">Leistungen</a></li>
                <li class="footer-list-item"><a class="footer-list-item-link" href="chronologie.html">Chronologie</a></li>
                <li class="footer-list-item"><a class="footer-list-item-link" href="pflegetipps.html">Pflegetipps</a></li>
                <li class="footer-list-item"><a class="footer-list-item-link" href="massschuhe.html">Maßschuhe</a></li>
                <li class="footer-list-item"><a class="footer-list-item-link" href="stimmen.html">Stimmen</a></li>
            </ul>
        </li>
    </ul>
    <hr />
    <ul class="footer-list ">
        <li class="footer-list-item ">
            <a class="footer-list-item-link" href="#">Facebook</a>
        </li>
        <li class="footer-list-item ">
            <a class="footer-list-item-link" href="#">Instagram</a>
        </li>
    </ul>
</div>
