
<nav class="navbar navbar--fixed js-navbar">
    <div class="bg-primary w-100 d-none d-md-flex">
        <div class="container">
            <div class="ml-md-auto small text-white py-1">
                Schuhmanufaktur Formschön
            </div>
        </div>
    </div>

    <div class="container-fluid container-lg">
        <div class="navbar__wrapper">
            <a class="navbar__brand" href="index.html">
                <img src="img/logo.jpg" class="img-fluid">
            </a>
            <button class="navbar__toggler js-navbar-toggler">
                <span class="navbar__toggler-line"></span>
                <span class="navbar__toggler-line"></span>
                <span class="navbar__toggler-line"></span>
            </button>
            <div class="navbar__collapse ml-md-auto">
                <ul class="navbar__menu">
                    <li class="navbar__item"><a href="jubilaeum.html" class="navbar__link{% if head_canonical == 'jubilaeum.html' %} navbar__link--selected{% endif %}">Jubiläum</a></li>
                    <li class="navbar__item"><a href="chronologie.html" class="navbar__link{% if head_canonical == 'chronologie.html' %} navbar__link--selected{% endif %}">Chronologie</a></li>
                    <li class="navbar__item"><a href="leistungen.html" class="navbar__link{% if head_canonical == 'leistungen.html' %} navbar__link--selected{% endif %}">Leistungen</a></li>
                    <li class="navbar__item"><a href="massschuhe.html" class="navbar__link{% if head_canonical == 'massschuhe.html' %} navbar__link--selected{% endif %}">Maßschuhe</a></li>
                    <li class="navbar__item"><a href="stimmen.html" class="navbar__link{% if head_canonical == 'stimmen.html' %} navbar__link--selected{% endif %}">Stimmen</a></li>
                    <li class="navbar__item navbar__item--last"><a href="pflegetipps.html" class="navbar__link{% if head_canonical == 'pflegetipps.html' %} navbar__link--selected{% endif %}">Pflegetipps</a></li>
                    <li class="navbar__item d-md-none"><a href="kontakt.html" class="navbar__link{% if head_canonical == 'kontakt.html' %} navbar__link--selected{% endif %}">Öffnungszeiten und Kontakt</a></li>
                    <li class="navbar__item d-md-none"><a href="impressum.html" class="navbar__link{% if head_canonical == 'impressum.html' %} navbar__link--selected{% endif %}">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

