<article class="banner">
    <div class="banner-image-container">
        <img src="{{ src }}" alt="{{ title }}" class="banner-image" />
    </div>
    <header class="banner-content-container col-md-3 col-lg-4">
        <div class="banner-content-wrapper">
            <div class="banner-content">
                <h2 class="banner-title">{{ title }}</h2>
                <h3 class="banner-subhead">{{ subtitle }}</h3>
            </div>
        </div>
    </header>
</article>
