<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ head_title }} | Schuhmanufaktur Formschön</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ head_canonical }}"/>

    <link rel="stylesheet" href="css/main.css">
</head>
<body class="d-flex flex-column min-vh-100">


{% include '../components/navbar.twig' %}

<div class="content">
    {% block page %}{% endblock %}
</div>
<footer class="footer mt-4 mt-md-8">
    {% include '../components/footer.twig' %}
</footer>

<script src="js/vendor.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>
