@mixin cake-font-face($font-family, $filename, $font-weight: normal, $font-style: normal, $fontsPath: $font-path) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
    src: url("#{$fontsPath}#{$filename}.otf") format("otf"), url("#{$fontsPath}#{$filename}.woff") format("woff");
  }
}

@mixin cake-build-font-faces($fontFaceDeclarations) {
  @if ($fontFaceDeclarations != null) {
    @each $fontFaceDeclaration in $fontFaceDeclarations {
      @if (length($fontFaceDeclaration) == 5) {
        @include cake-font-face(nth($fontFaceDeclaration, 1), nth($fontFaceDeclaration, 2), nth($fontFaceDeclaration, 3), nth($fontFaceDeclaration, 4), nth($fontFaceDeclaration, 5));
      } @else if (length($fontFaceDeclaration) == 4) {
        @include cake-font-face(nth($fontFaceDeclaration, 1), nth($fontFaceDeclaration, 2), nth($fontFaceDeclaration, 3), nth($fontFaceDeclaration, 4));
      } @else if (length($fontFaceDeclaration) == 3) {
        @include cake-font-face(nth($fontFaceDeclaration, 1), nth($fontFaceDeclaration, 2), nth($fontFaceDeclaration, 3));
      } @else {
        @include cake-font-face(nth($fontFaceDeclaration, 1), nth($fontFaceDeclaration, 2));
      }
    }
  }
}
